mutations/
waveforms/
output/
insight_output/
logging/
jg_found*
*invariants/
*invariants_*
*.vcd
*.fst
seeds/
*.prof
__pycache__/
.vscode/
.venv/
logs/
target/
build/
vincent_*.json
tools/verilator/src/obj_opt/
tools/verilator/src/obj_dbg/
result_plots/
results/
insight_output_old/
gurobi.log
